apiVersion: v1
kind: Secret
metadata:
  name: {{ include "red-potato.secrets.fullname" . }}
  labels:
    {{- include "red-potato.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if and .Values.postgresql.enabled (not .Values.postgresql.external.enabled) (not .Values.postgresql.auth.existingSecret) }}
  postgres-password: {{ required "postgresql.auth.password is required" .Values.postgresql.auth.password | b64enc | quote }}
  {{- end }}
  {{- if .Values.config.jwtSecret }}
  jwt-secret: {{ .Values.config.jwtSecret | b64enc | quote }}
  {{- else }}
  jwt-secret: {{ randAlphaNum 64 | b64enc | quote }}
  {{- end }}
  {{- if and .Values.config.twilio.enabled (not .Values.config.twilio.existingSecret) }}
  {{- if .Values.config.twilio.accountSid }}
  twilio-account-sid: {{ .Values.config.twilio.accountSid | b64enc | quote }}
  {{- end }}
  {{- if .Values.config.twilio.authToken }}
  twilio-auth-token: {{ .Values.config.twilio.authToken | b64enc | quote }}
  {{- end }}
  {{- if .Values.config.twilio.phoneNumber }}
  twilio-phone-number: {{ .Values.config.twilio.phoneNumber | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- if and .Values.config.email.enabled (not .Values.config.email.existingSecret) }}
  {{- if .Values.config.email.user }}
  email-user: {{ .Values.config.email.user | b64enc | quote }}
  {{- end }}
  {{- if .Values.config.email.password }}
  email-password: {{ .Values.config.email.password | b64enc | quote }}
  {{- end }}
  {{- end }}
  {{- if not .Values.config.seed.existingSecret }}
  {{- if .Values.config.seed.adminPassword }}
  seed-admin-password: {{ .Values.config.seed.adminPassword | b64enc | quote }}
  {{- end }}
  {{- if .Values.config.seed.operatorPassword }}
  seed-operator-password: {{ .Values.config.seed.operatorPassword | b64enc | quote }}
  {{- end }}
  {{- end }}
